#title{
    margin-left: 150px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}

#left{
    height: 20px;
    margin-left: 60px;
}

#right{
    height: 20px;
    margin-left: 20px;
}

#weeks{
    font-size: 30px;
    margin-left: 20px;
}

.c1{
    width: 5%;
    background-color: rgb(161, 161, 161);
}

.f1{
    background-color: rgb(161, 161, 161);
}

td{
    background-color: white;
    border: #000000 1px solid;
    height: 60px;
    text-align: center;
}

table{
    margin-left: 60px;
}

.void{
    background-color: #45A29E;
    border: #000000 0px solid;
    border-right: #000000 1px solid;
}

/* altered by cw */
/* This is for the main container of the table, also sets the height of the fixed header row */
.headercontainer {
  position: relative;

  background: transparent;
}
/* This is for the data area that is scrollable */
.tablecontainer {
  overflow-y: auto;
  height: 36em;
  width: 75em;
  background: #45A29E;
}

/* Removes default cell borders and ensures table width 100% of its container*/
.tablecontainer table {
  border-spacing: 0;
  width:100%;
}

/* adds a thin border to the left of cells, but not the first */
.tablecontainer td + td {
  border-left:1px solid #eee; 
}

/* cell padding and bottom border */
.tablecontainer td, th {
  border-bottom:1px solid #eee;
  padding: 10px;
}

/* make the default header height 0 and make text invisible */
.tablecontainer th {
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    visibility: hidden;
    white-space: nowrap;
}

/* reposition the divs in the header cells and place in the blank area of the headercontainer */
.tablecontainer th div{
  visibility: visible;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 9px 10px;
  top: 0;
  margin-left: -10px;
  line-height: normal;
   border-left: 1px solid #222;
}
/* prevent the left border from above appearing in first div header */
th:first-child div{
  border: none;
}

/* alternate colors for rows */
.tablecontainer tbody  tr:nth-child(even){
     background-color: #ddd;
}