html, body{
    margin:0;
    padding:0;
    background-color: #45A29E;
    min-width: 630px;
}

.mainDiv{

    display: flex; 
    flex-direction: column; 
}

header {

    padding: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    height: 10%;
    background-color: #2b3847;
}
    
main {
    padding: 1%;
    flex: auto;
}

.headerDivLogo{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    width: 85%;
    padding: 5px;
    justify-content: center;

}

.headerLogin {

    text-align: center;
    background-color: #C5C6C7;

    width: 15%;
    padding: 1%;
    padding-top: 0;
    padding-bottom: 10px;

    float: right;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo {
    position: absolute;
    left: 0%;
    object-fit: contain;
    height: 75px;
    padding: 5px;
    margin: 0;
}

.headerLogged {

    text-align: center;
    background-color: #C5C6C7;

    width: 15%;
    padding: 1%;


    display: flex;
    justify-content: center;
    align-items: center;

}

.notificationBell{
    height: 30px;
    padding-right: 15px;
}

.profilephoto {
    height: 65px;
    padding-left: 5px;
}

.optionsbtn{
    margin-right: 5px;
}

.calendar-bts-div, .optionsDropdown{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-btns, .optionsbtn{


    background-color: #2b3847;
    border-style: None;
    border-width: 0px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    height: 100%;
    
}

.calendar-btns:hover, .optionsbtn:hover{
    background-color: #1f1f1f;
}


/*Desplegable opciones calendar*/

.optionsDropdown{
    position: relative;
    display: inline-block;
}

.options-content{
    display: none;
    position: absolute;
    background-color: #2b3847; 
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.optionDpButton {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.optionDpButton:hover{
    background-color: #1f1f1f;
}

.optionsDropdown:hover .options-content  {
    display: block;
}

.optionsDropdown:hover .optionsbtn {
    background-color: #1f1f1f;
}

/*Desplegable opciones calendar fin*/

/*Desplegable user*/

.userDropdown{
    position: relative;
    display: inline-block;

}

.user-options-content{
    transition: all 0s ease 0.05s;
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    background-color: #2b3847; 
    min-width: 150px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.optionUserButton {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.optionUserButton:hover{
    background-color: #1f1f1f;
}

.userDropdown:hover .user-options-content {
    transition-delay: 0s;
    visibility: visible;
}

/*Desplegable user fin*/

#notificationPopup{
    margin-top: 110px;
    position: absolute;
    width: 200px;
    z-index: 999;
    display: none;
    top:0;
    margin-left: -190px;
    background-color: #2b3847;  
    border-radius: 5px;  
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);  
    overflow: hidden;   
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 955px){
    .logo{
        height: 45px;

    }
    


    .headerLogged {
        width: 25%;
        padding: 1%;
    }
}

.optionUserButton{
    cursor: pointer;
}