/* Login popup */

.popup {
    margin-top: 110px;
    position: absolute;
    width: 150px;
    z-index: 999;
    display: none;
    top: 0;
    background-color: #2b3847;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 10px;
}

.loginPopupBody {
    height: 100px;
}

.registerPopupBody {
    height: 200px;
}

#loginForm input,
#registerForm input {
    width: 130px;
}

#promo {
    float: right;
    font-size: 20px;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

t1 {
    font-family: Brush Script MT;
    font-size: 80px;
    COLOR: #3d59b4;
    text-shadow: 0px 0px 9px #508AD3;
}

t2 {
    font-family: Times New Roman;
    font-size: 30px;
    COLOR: #2b3847;
}

ul {
    list-style-type: square;
    list-style-image: url(res/ul_logo.png);
    list-style-position: inside;
}

#contentBody {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.img {
    display: table;
}

div.img img {
    margin: 0;
    padding: 0;
}

div.img span {
    line-height: normal;
    font-size: 17px;
    display: table-caption;
    margin: 0;
    background: #2b3847;
    color: white;
    font-style: italic;
    padding: 5px;
    text-align: center;
}

.img {
    float: left;
    margin-left: 100px;
}

.imagenes {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}